# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Secrets
.env
.env.*
*.key
*.pem
credentials.json
secrets.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
localstack_data/

# Python
__pycache__/
*.pyc

# Personal notes (not for repo)
task.md
the_warriors_path.txt
.github